* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    margin: 0;
}

header {
    background-color: rgb(255, 0, 170);
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    
}

header a {
    margin: 0% auto;
    color: #fff;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

header a:hover {
    height: 38px;
    background-color: #fff;
    color:rgb(255, 0, 170)
}

.header__log img {
    width: 78px;
    height: 43px;
    margin-left: 300px;
    margin-top: 4px;
    border:rgb(204, 3, 140) solid 2px;
    border-radius: 50px;
    object-fit: cover;
}

main {
    background-color: rgb(238, 238, 238);
    margin: 0% auto;
}

.hero-image {
    background-image: url('assetes/artesania6.png');
    height: 600px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.hero-text {
    margin: 0% auto;
    margin-left: 30px;
    position: absolute;
    border: #fff solid 1px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.750);
    top: 70px;
    left: 0%;
    color: rgb(250, 0, 170);
    font-size: 25px;
    padding: 0px 20px 20px 10px;
    
}

.hero-text:hover {
    border-radius: 200px;
    transition: 2s;
    background-color: rgba(255, 255, 255, 0.870);
}

.hero-text p {
    text-align: center;
    font-size: 20px;
    color: rgb(107, 15, 78);
    padding: 0;
}

.texto-inferior {
    margin: 0% 350px;
    position: relative;
    text-align: center;
    font-style: oblique;
    border: #fff solid 1px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.750);
    top: 250px;
    color: rgb(250, 0, 171);
    font-size: 25px;
    padding: 0px 0px 100px 0px;
}

.texto-inferior p {
    color: rgb(107, 15, 78);
    font-size: 20px;
    font-style: normal;
}

.texto-inferior:hover {
    border-radius: 100px;
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.870);
}

#mail {
    position: relative;
    width: 400px;
    height: 40px;
    margin-left: 420px;
    margin-top: 140px;
    background-color: rgba(250, 0, 171, 0.521);
    border: rgb(255, 255, 255) solid 1px;
    border-radius: 10px;
}

.boton {
    position: relative;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border: #fff solid 1px;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    padding: 0px 0px 0px 0px;
}

.boton:hover { 
    background-color: rgb(250, 0, 170);

}

.cajas {
    margin: 0% auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cajas img { 
    width: 100%;
    height: 800px;
    object-fit: cover;
    border-radius: 10px;
}

.cajas img:hover {
    border-radius: 50px;
    transition: 0.5s;
}

.caja-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 5px;
    border: #fff;
    border-radius: 10px;
    background-color: #fff;
}

.caja-1:hover {
    border-radius: 50px;
    background-color: rgba(107, 15, 78, 0.301);
    transition: 0.5s;
}

.caja-2 {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 5px;
    border: #fff;
    border-radius: 10px;
    background-color: #fff;
}

.caja-2:hover {
    border-radius: 50px;
    background-color: rgba(107, 15, 78, 0.301);
    transition: 0.5s;
}

.caja-3 {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-top: 5px;
    border: #fff;
    border-radius: 10px;
    background-color: #fff;
}

.caja-3:hover {
    border-radius: 50px;
    background-color: rgba(107, 15, 78, 0.301);
    transition: 0.5s;
}

.caja-4 {
    padding: 0%;
    margin: 0% 100px;
    margin-bottom: 10px;
    grid-column: 1/4;
    grid-row: 2/3;
    border: #fff;
    border-radius: 10px;
    background-color: #fff;

}

.caja-4:hover {
    margin: 0% auto;
    border-radius: 50px;
    background-color: rgba(107, 15, 78, 0.301);
    transition: 0.5s;
}

.slider {
    margin: 0% auto;
    padding: 0;
    overflow: hidden;
}

.slider ul {
    margin: 0% auto;
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 15s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

.slider li {
    width: 100%;
    list-style: none;
}

.caja-4 img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    gap: 10px;
    border-radius: 10px;
}

.caja-5 {
    padding: 0px 0px 0px 0px;
    margin: 0% 100px;
    margin-bottom: 10px;
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    border: #fff;
    border-radius: 10px;
    background-color: #fff;

}

.caja-5:hover {
    border-radius: 50px;
    background-color: rgba(107, 15, 78, 0.301);
    transition: 0.5s;
}

.caja-5 img {
    margin: 0% auto;
    width: 283.7px;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
    gap: none;
}

.article-body-title1 { 
    color:rgb(250, 0, 170); 
    text-align: center;
    font-size: 25px;
    padding: 0;
}

.article-body-p1 { 
    text-align: center;
    color: rgb(107, 15, 78);
    font-size: 20px;
    padding: 0;
}

.ver {
    margin: 0% 100px;
    font-size: 20px;
    color: rgb(107, 15, 78);
    text-align: center;
    text-decoration: none;
}

#pedidos {
    margin: 0% auto;
    margin-bottom: 5px;
    margin-top: 0%;
    padding: 0% 0px;
    text-align: center;
    border: #fff solid 1px;
    background-color: #fff;
    border-radius: 10px;
    grid-column: 1/4;
}

#pedidos:hover {
    border-radius: 50px;
    background-color: rgba(107, 15, 78, 0.301);
    transition: 0.5s;
}

.footer { 
    background-color: pink;
    display: grid;
    margin: 0% auto;
    padding: 0%;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.footer-1 {
    margin: 0% auto;
    padding: 0% auto;
    grid-column: 1/2;
}

.footer-1 img {
    width: 130px;
    height: 130px;
    margin: 30px 150px;
    border: rgb(107, 15, 78) solid 1px;
    border-radius: 20px;
    object-fit: cover;
}

.footer-1 img:hover {
    border-radius: 100%;
    border: rgb(204, 3, 140) solid 2px;
    width: 29%;
    height: 29%;
    transition: 2s;
}

.footer-3 {
    margin: 0% auto;
    padding: 0% auto;
    grid-column: 2/3;
}

.footer-3 h2 { 
    text-align: center;
    color: rgb(107, 15, 78);
    font-size: 30px;
    text-decoration: none;
}

.footer-3 p {
    text-align: justify;
    color: rgb(172, 17, 123);
    font-size: 20px;
    text-decoration: none;
}

.footer-2 {
    margin: 0% auto;
    padding: 0% auto;
    grid-column: 3/4;
}

.footer-2 h2 { 
    text-align: center;
    color: rgb(107, 15, 78);
    font-size: 30px;
    text-decoration: none;
}

.footer-2 a {
    margin: 10px 10px;
    width: 40px;
    height: 41px;
    text-decoration: none;
    display: inline-block;
    line-height: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(172, 17, 123);
    text-align: center;
    font-size: 40px;
    border-radius: 5px;
}

.footer-2 a:hover {
    border: rgb(107, 15, 78) solid 1px;
    border-radius: 20px;
    transition: 1s;
}

.small {
    text-align: center;
    grid-column: 2/3;
    color: #fff;
}

.container-grid {
    display: grid;
    margin: 0% auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.container-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-grid img:hover {
    background-color: #fff;
    border: rgb(250, 0, 170) solid 2px;
    border-radius: 30px;
}

@media (max-width: 1200px) {
    body {
    margin: 0% auto;
    background-color: rgb(238, 238, 238);
    }

    .texto-inferior {
        margin: 0% auto;
        text-align: center;
        font-style: oblique;
        border: #fff solid 1px;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.750);
        top: 250px;
        color: rgb(250, 0, 171);
        font-size: 18px;
        padding: 0px 0px 50px 0px;
    }
    
    #mail {
        margin: 200px 10%;
        margin-bottom: 10%;
        width: 50%;
        height: 30px;
        background-color: rgba(250, 0, 171, 0.521);
        border: rgb(255, 255, 255) solid 1px;
        border-radius: 10px;
    }
    
    .boton {
        margin: 0px 150px;
        font-size: 15px;
        background-color: rgb(255, 255, 255);
        border: #fff solid 1px;
        border-radius: 10px;
        width: 100px;
        height: 30px;
        padding: 0px 0px 0px 0px;
    }
    
    .boton:hover { 
        background-color: rgb(250, 0, 170);
    }
    
    .cajas {
        margin: 0% auto;
        display: flex;
        flex-direction: column;
    }

    .cajas img { 
        width: 100%;
        height: 200px;
    }

    .caja-1 {
    margin: 0% auto;
    margin-top: 10px;
    width: 90%;
    }

    .caja-2 {
    margin:0% auto;
    width: 90%;
    }

    .caja-3 {
    margin: 0% auto;
    width: 90%;
    }


    .caja-4 {
        margin: 0% 20px;
    }

    .caja-4 img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 10px;
    }

    .caja-5 {
    margin: 0% 100px;
    display: flex;
    flex-direction: column;
    border: #fff;
    border-radius: 10px;
    background-color: #fff;

    }

    .caja-5 img {
    width: 100%;
    height: 300px;
}

    .ver {
    margin: 0% 10px;
    font-size: 20px;
    color: rgb(107, 15, 78);
    text-align: center;
    text-decoration: none;
    }

    #pedidos {
    margin: 0% auto;
    width: 90%;
    }

    #pedidos:hover {
    border-radius: 50px;
    background-color: rgba(107, 15, 78, 0.301);
    transition: 0.5s;
    }

    .footer {
        background-color: pink;
        display: grid;
        margin: 0% auto;
        padding: 0%;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .footer-1 {
        margin: 0% auto;
        padding: 0% auto;
    }
    
    .footer-1 img {
        margin: 0% auto;
        width: 80px;
        height: 80px;
        border: rgb(107, 15, 78) solid 1px;
        border-radius: 20px;
        object-fit: cover;
    }
    
    .footer-3 {
        margin: 0% auto;
        padding: 0% auto;
    }
    
    .footer-3 h2 { 
        text-align: center;
        color: rgb(107, 15, 78);
        font-size: 20px;
        text-decoration: none;
    }
    
    .footer-3 p {
        text-align: justify;
        color: rgb(172, 17, 123);
        font-size: 17px;
        text-decoration: none;
    }
    
    .footer-2 {
        margin: 0% auto;
        padding: 0% auto;
    }
    
    .footer-2 h2 { 
        text-align: center;
        color: rgb(107, 15, 78);
        font-size: 20px;
        text-decoration: none;
    }
    
    .footer-2 a {
        margin: 10px 10px;
        width: 40px;
        height: 41px;
        text-decoration: none;
        display: block;
        line-height: 40px;
        color: rgb(255, 255, 255);
        background-color: rgb(172, 17, 123);
        text-align: center;
        font-size: 40px;
        border-radius: 5px;
    }
    
    .footer-2 a:hover {
        border: rgb(107, 15, 78) solid 1px;
        border-radius: 20px;
        transition: 1s;
    }
    
    .small {
        margin: 0% auto;
        text-align: center;
        color: #fff;
    }
}

@media (max-width: 1000px) {
    body {
    margin: 0% auto;
    background-color: rgb(238, 238, 238);
    }

    header a {
        margin: 0% auto;
        color: #fff;
        text-align: center;
        padding: 0px 30px;
        text-decoration: none;
        font-size: 15px;
        display: inline;
    }
    
    header a:hover {
        background-color: #fff;
        color:rgb(255, 0, 170)
    }

    .header__log img {
        margin-left: 100px ;
        width: 68px;
        height: 33px;
    }

    .hero-text {
        margin: 0% auto;
        width: 96%;
        position: absolute;
        border: #fff solid 1px;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.750);
        top: 70px;
        color: rgb(250, 0, 170);
        font-size: 25px;
        padding: 0px 20px 20px 10px;
        
    }

    .texto-inferior {
        margin: 0% auto;
        text-align: center;
        font-style: oblique;
        border: #fff solid 1px;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.750);
        top: 250px;
        color: rgb(250, 0, 171);
        font-size: 18px;
        padding: 0px 0px 50px 0px;
    }
    
    .texto-inferior p {
        color: rgb(107, 15, 78);
        font-size: 18px;
        font-style: normal;
    }

    #mail {
        margin: 200px 10%;
        margin-bottom: 10%;
        width: 80%;
        height: 30px;
        background-color: rgba(250, 0, 171, 0.521);
        border: rgb(255, 255, 255) solid 1px;
        border-radius: 10px;
    }
    
    .boton {
        margin: 0px 150px;
        font-size: 15px;
        background-color: rgb(255, 255, 255);
        border: #fff solid 1px;
        border-radius: 10px;
        width: 100px;
        height: 30px;
        padding: 0px 0px 0px 0px;
    }
    
    .boton:hover { 
        background-color: rgb(250, 0, 170);
    }
    
    .cajas {
        margin: 0% auto;
        display: flex;
        flex-direction: column;
    }

    .cajas img { 
        width: 100%;
        height: 200px;
    }

    .caja-1 {
    margin: 0% auto;
    margin-top: 10px;
    width: 90%;
    }

    .caja-2 {
    margin:0% auto;
    width: 90%;
    }

    .caja-3 {
    margin: 0% auto;
    width: 90%;
    }


    .caja-4 {
        margin: 0% 20px;
    }

    .caja-4 img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 10px;
    }

    .caja-5 {
    margin: 0% 100px;
    display: flex;
    flex-direction: column;
    border: #fff;
    border-radius: 10px;
    background-color: #fff;

    }

    .caja-5 img {
    width: 100%;
    height: 300px;
}

    .ver {
    margin: 0% 10px;
    font-size: 20px;
    color: rgb(107, 15, 78);
    text-align: center;
    text-decoration: none;
    }

    #pedidos {
    margin: 0% auto;
    width: 90%;
    }

    #pedidos:hover {
    border-radius: 50px;
    background-color: rgba(107, 15, 78, 0.301);
    transition: 0.5s;
    }

    .footer {
        background-color: pink;
        display: grid;
        margin: 0% auto;
        padding: 0%;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .footer-1 {
        margin: 0% auto;
        padding: 0% auto;
    }
    
    .footer-1 img {
        margin: 0% auto;
        width: 80px;
        height: 80px;
        border: rgb(107, 15, 78) solid 1px;
        border-radius: 20px;
        object-fit: cover;
    }
    
    .footer-3 {
        margin: 0% auto;
        padding: 0% auto;
    }
    
    .footer-3 h2 { 
        text-align: center;
        color: rgb(107, 15, 78);
        font-size: 20px;
        text-decoration: none;
    }
    
    .footer-3 p {
        text-align: justify;
        color: rgb(172, 17, 123);
        font-size: 17px;
        text-decoration: none;
    }
    
    .footer-2 {
        margin: 0% auto;
        padding: 0% auto;
    }
    
    .footer-2 h2 { 
        text-align: center;
        color: rgb(107, 15, 78);
        font-size: 20px;
        text-decoration: none;
    }
    
    .footer-2 a {
        margin: 10px 10px;
        width: 40px;
        height: 41px;
        text-decoration: none;
        display: block;
        line-height: 40px;
        color: rgb(255, 255, 255);
        background-color: rgb(172, 17, 123);
        text-align: center;
        font-size: 40px;
        border-radius: 5px;
    }
    
    .footer-2 a:hover {
        border: rgb(107, 15, 78) solid 1px;
        border-radius: 20px;
        transition: 1s;
    }
    
    .small {
        margin: 0% auto;
        text-align: center;
        color: #fff;
    }
}

@media (max-width: 800px) {
    body {
    margin: 0% auto;
    background-color: rgb(238, 238, 238);
    }

    header a {
        margin: 0% auto;
        color: #fff;
        text-align: center;
        padding: 0px 5px;
        text-decoration: none;
        font-size: 15px;
        display: inline;
    }
    
    header a:hover {
        background-color: #fff;
        color:rgb(255, 0, 170)
    }

    .header__log img {
        margin: 0px ;
        width: 68px;
        height: 33px;
    }

    .hero-text {
        margin: 0% auto;
        width: 91%;
        position: absolute;
        border: #fff solid 1px;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.750);
        top: 70px;
        color: rgb(250, 0, 170);
        font-size: 25px;
        padding: 0px 20px 20px 10px;
        
    }

    .texto-inferior {
        margin: 0% auto;
        text-align: center;
        font-style: oblique;
        border: #fff solid 1px;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.750);
        top: 250px;
        color: rgb(250, 0, 171);
        font-size: 18px;
        padding: 0px 0px 50px 0px;
    }
    
    .texto-inferior p {
        color: rgb(107, 15, 78);
        font-size: 18px;
        font-style: normal;
    }

    #mail {
        margin: 200px 10%;
        margin-bottom: 10%;
        width: 80%;
        height: 30px;
        background-color: rgba(250, 0, 171, 0.521);
        border: rgb(255, 255, 255) solid 1px;
        border-radius: 10px;
    }
    
    .boton {
        margin: 0px 150px;
        font-size: 15px;
        background-color: rgb(255, 255, 255);
        border: #fff solid 1px;
        border-radius: 10px;
        width: 100px;
        height: 30px;
        padding: 0px 0px 0px 0px;
    }
    
    .boton:hover { 
        background-color: rgb(250, 0, 170);
    }
    
    .cajas {
        margin: 0% auto;
        display: flex;
        flex-direction: column;
    }

    .cajas img { 
        width: 100%;
        height: 200px;
    }

    .caja-1 {
    margin-top: 5px;
    }

    .caja-2 {
    margin:0% auto;
    }

    .caja-3 {
    margin: 0% auto;
    }


    .caja-4 {
        margin: 0% auto;
    }

    .caja-4 img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 10px;
    }

    .caja-5 {
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    border: #fff;
    border-radius: 10px;
    background-color: #fff;

    }

    .caja-5 img {
    width: 100%;
    height: 300px;
}

    .ver {
    margin: 0% 10px;
    font-size: 20px;
    color: rgb(107, 15, 78);
    text-align: center;
    text-decoration: none;
    }

    #pedidos {
    margin: 0% auto;
    width: 90%;
    }

    #pedidos:hover {
    border-radius: 50px;
    background-color: rgba(107, 15, 78, 0.301);
    transition: 0.5s;
    }

    .footer {
        background-color: pink;
        display: grid;
        margin: 0% auto;
        padding: 0%;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .footer-1 {
        margin: 0% auto;
        padding: 0% auto;
    }
    
    .footer-1 img {
        margin: 0% auto;
        width: 80px;
        height: 80px;
        border: rgb(107, 15, 78) solid 1px;
        border-radius: 20px;
        object-fit: cover;
    }
    
    .footer-3 {
        margin: 0% auto;
        padding: 0% auto;
    }
    
    .footer-3 h2 { 
        text-align: center;
        color: rgb(107, 15, 78);
        font-size: 20px;
        text-decoration: none;
    }
    
    .footer-3 p {
        text-align: justify;
        color: rgb(172, 17, 123);
        font-size: 17px;
        text-decoration: none;
    }
    
    .footer-2 {
        margin: 0% auto;
        padding: 0% auto;
    }
    
    .footer-2 h2 { 
        text-align: center;
        color: rgb(107, 15, 78);
        font-size: 20px;
        text-decoration: none;
    }
    
    .footer-2 a {
        margin: 10px 10px;
        width: 40px;
        height: 41px;
        text-decoration: none;
        display: block;
        line-height: 40px;
        color: rgb(255, 255, 255);
        background-color: rgb(172, 17, 123);
        text-align: center;
        font-size: 40px;
        border-radius: 5px;
    }
    
    .footer-2 a:hover {
        border: rgb(107, 15, 78) solid 1px;
        border-radius: 20px;
        transition: 1s;
    }
    
    .small {
        margin: 0% auto;
        text-align: center;
        color: #fff;
    }
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

